/*!* For the "inset" look only *!*/
/*html {*/
/*overflow: auto;*/
/*}*/
/*body {*/
/*!*position: absolute;*!*/
/*!*top: 20px;*!*/
/*!*left: 20px;*!*/
/*!*bottom: 20px;*!*/
/*!*right: 20px;*!*/
/*!*padding: 30px;*!*/
/*overflow-y: scroll;*/
/*overflow-x: hidden;*/
/*}*/

/*!* Let's get this party started *!*/
/*::-webkit-scrollbar {*/
/*width: 12px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*-webkit-border-radius: 10px;*/
/*border-radius: 10px;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*-webkit-border-radius: 10px;*/
/*border-radius: 10px;*/
/*background: rgba(255,0,0,0.8);*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
/*}*/
/*::-webkit-scrollbar-thumb:window-inactive {*/
/*background: rgba(255,0,0,0.4);*/
/*}*/

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6195FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6389f5;
}